body
{
    background: url(../../MyImages/Contact.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section
{
	color:black;
	background-color:white;
	opacity: 1;
}

li
{
	font-size: 2em;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.btn
{
	margin: 1.5em;
}

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
    line-height: 2;
    text-align: center;
    color: #E6B800;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B
}

@media screen and (max-width: 75em)
{
	li
	{
		font-size: 1.3em;
	}
	.btn
	{
		margin: 1em 2.5em;
	}
}