body
{
    background: url(../../MyImages/Skills.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
    line-height: 2;
    text-align: center;
    color: #990000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B
}