body
{
    font-size: 5em;
    color: white;
    text-align: center;
    background-color: black;
}
input
{
    font-size: 0.5em;
	color: #000000;
}

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
    line-height: 2;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}