body
{
    background: url(../../MyImages/Inspirations.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

section
{
	color:white;
	background-color: black;
	opacity: 0.8;
	margin-bottom:5em;
}

.MyHeader
{
	margin-bottom: 1em;
}

li
{
	list-style-type: circle;
}

li a:visited {color:#FFFFFF;}  /* visited link */
li a:active {color:#FF0000;}  /* selected link */
li a:hover {color: #FF00FF;}  /* mouse over link */

.btn-default
{
	margin: auto 2em auto 2em;
}

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #7F00FF;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B
}